# 淘宝/阿里云镜像
# electron_mirror=https://npmmirror.com/mirrors/electron/
# 或使用以下备选镜像
# electron_mirror=https://cdn.npm.taobao.org/dist/electron/
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
# electron_mirror=https://mirrors.huaweicloud.com/electron/
electron_custom_dir={{ version }} 